{% extends "blog/base.html" %}
{% block content %}
  <div class="content-section">
    <h1>About Page</h1>
    <p>
      This website was created by following <span><a href="https://www.youtube.com/@coreyms">Corey Schafer's</a><span> Django course on YouTube.</span>
    </p>
    <p>
      It features user registration, login, and password reset; editable user profiles with profile pictures; post creation, detailed viewing, updating, and deletion; and paginated global and user-specific feeds.
    </p>
  </div>
{% endblock content %}
